.list.roster {
}

.list.roster li {
  flex-flow: row wrap;
  height: unset;
}

.list.roster li .basic {
  flex-basis: 100%;
  height: 38px;
  display: grid;
  align-items: center;
  grid-template-columns: calc(38px + 16px) 1fr 120px 1.4fr 2fr;
}

.list.roster.mini li .basic {
  grid-template-columns: calc(38px + 16px) 1fr;
}

.list.roster li.grid-header div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.6);
}

.list.roster li.error .error {
  grid-column: 3/5;
}

.list.roster li.thisIsYou::before {
  content: '\e9e0';
  position: absolute;
  top: 12px;
  left: -18px;
  font-family: 'destiny' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
  pointer-events: none;
}

.list.roster li .basic .icon {
  position: relative;
  height: 38px;
  width: 38px;
  margin: 0 16px 0 0;
  background-color: rgba(255, 255, 255, 0.05);
}

.list.roster li.grid-header .basic .icon {
  background-color: rgba(255, 255, 255, 0);
}

.list.roster li .basic .displayName {
  margin: 0 16px 0 0;
  font-size: 16px;
}

.list.roster li .basic div:not(.displayName) {
  font-size: 14px;
  line-height: 16px;
}

.list.roster li .basic .character .stamp {
  display: inline-flex;
  align-content: center;
  font-size: 12px;
  padding: 1px 4px;
  margin: 0 7px 0 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.list.roster li .basic .character .stamp.light {
  width: 29px;
}

.list.roster li .basic .character .stamp.light.max {
  background-color: #2ed1c9;
  background-color: rgba(229, 214, 97, 0.8);
}

.list.roster li .basic .character .stamp.level {
  width: 21px;
}

.list.roster li .basic .character .stamp.class.titan {
  background-color: #c94436;
  background-color: rgb(75, 127, 149);
}

.list.roster li .basic .character .stamp.class.hunter {
  background-color: #5e93a0;
  background-color: rgb(127, 98, 76);
}

.list.roster li .basic .character .stamp.class.warlock {
  background-color: #d5a52a;
  background-color: rgb(42, 120, 99);
}

.list.roster li .basic .activity time {
  color: rgba(255, 255, 255, 0.4);
}

.list.roster li .basic .activity .name {
  display: inline-block;
  margin: 0 10px 0 0;
}

.list.roster li .detail {
  flex-basis: 100%;
  /* display: grid;
  grid-template-columns: calc(36px + 16px) 1fr 120px 1.4fr 2fr; */
}







.list.roster li.view-all {
  padding: 0 16px 0 calc(38px + 16px);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0);
}

.list.roster li.view-all::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.4);
}

.list.roster li.view-all.linked:hover {
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 2;
}

.list.roster li.view-all a.active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 1);
  color: #fff;
}

.list.roster li.view-all a:hover {
  color: #fff;
}

/* .list.roster li .icon.black {
  background-color: rgba(255, 255, 255, 0.1);
} */

.list.roster li.no-character {
  /* background-color: #222; */
}

.list.roster li .memberLink {
  position: relative;
  padding: 0;
  grid-column: 1/3;
  pointer-events: none;
}

.list.roster li.isExpanded {
  background-color: rgba(255, 255, 255, 0.1);
}

.list.roster li .detail {
  flex-basis: 100%;
  position: relative;
  padding: 12px 0;
  display: grid;
  grid-template-columns: calc(38px + 16px) 1fr 120px 1.4fr 2fr;
}

.list.roster li .detail::before {
  content: ' ';
  position: absolute;
  top: -1px;
  right: 0;
  width: calc(100% - 38px - 16px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.list.roster li .detail ul li {
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
}








@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 600px) {
  .list.roster:not(.mini) li {
    grid-template-columns: calc(36px + 16px) 1fr;
    height: unset;
  }
  .list.roster:not(.mini) li.grid-header {
    display: none;
  }
  .list.roster:not(.mini) li .triumphScore,
  .list.roster li .clanXp,
  .list.roster li .character,
  .list.roster li .historicalStats {
    display: none;
  }
  .list.roster:not(.mini) li .activity {
    grid-column: 2/3;
  }
  .list.roster:not(.mini) li .activity time {
    display: block;
    margin: 0 0 4px;
  }
  .list.roster:not(.mini) li.isOnline .activity time {
    margin: 7px 0 4px;
  }
}
