#inspect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  background-color: #888888;
  color: rgba(255, 255, 255, 0.8);
  --exotic: 48, 61%, 50%;
  --legendary: 279, 36%, 29%;
  --rare: 213, 34%, 48%;
  --uncommon: 126, 35%, 32%;
  --common: 0, 0%, 80%;
  --exoticDark: 48, 71%, 5%;
  --legendaryDark: 279, 36%, 5%;
  --rareDark: 213, 34%, 6%;
  --uncommonDark: 126, 35%, 5%;
  --commonDark: 0, 0%, 7%;
}

#inspect .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

#inspect .bg::before {
  content: "\e9e2";
  position: absolute;
  top: -40vh;
  left: 0;
  width: 100%;
  height: 180vh;
  font-family: 'destiny' !important;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 180vh;
  color: rgba(255, 255, 255, 0.15);
  filter: blur(10px);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 100s linear reverse infinite;
}

#inspect .bg::after {
  content: "\e9e1";
  position: absolute;
  top: -40vh;
  left: 0;
  width: 100%;
  height: 180vh;
  font-family: 'destiny' !important;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 180vh;
  color: rgba(255, 255, 255, 0.3);
  filter: blur(10px);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 60s linear infinite;
}

#inspect .sticky-nav {
  position: fixed;
  background-color: hsla(0, 0%, 5%, 0.6);
}

#inspect .rarity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

#inspect .rarity.exotic {
  background: linear-gradient(90deg, hsla(var(--exotic), 0.8) 0%, hsla(var(--exotic), 0.5) 38%, hsla(var(--exotic), 0.5) 70%, hsla(var(--exotic), 0.5) 100%);
  border-bottom: 8px solid hsla(var(--exotic), 1);
}

#inspect .rarity.legendary {
  background: linear-gradient(90deg, hsla(var(--legendary), 0.8) 0%, hsla(var(--legendary), 0.5) 38%, hsla(var(--legendary), 0.5) 70%, hsla(var(--legendary), 0.5) 100%);
  border-bottom: 8px solid hsla(var(--legendary), 1);
}

#inspect .properties {
  position: absolute;
  top: calc(80px + 3rem);
  left: 6rem;
  width: 35rem;
}

#inspect .properties .display {
  margin: 0 0 2rem;
  display: grid;
  grid-template-columns: calc(80px + 16px) 1fr;
  color: rgba(255, 255, 255, 0.6);
}

#inspect .properties .display .icon {
  position: relative;
  width: 80px;
  height: 80px;
  box-shadow: inset 0 0 0 3px #ececec;
}

#inspect .properties .display .group {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
}

#inspect .properties .display .group div {
  flex-basis: 100%;
}

#inspect .properties .display .name {
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 45px;
  white-space: nowrap;
  color: rgba(255, 255, 255, 1);
}

#inspect .properties .display .itemTypeDisplayName {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 24px;
}

#inspect .properties .display .description {
  margin: 2rem 0 0;
  grid-column: 1/3;
  width: 30rem;
  font-style: italic;
  font-size: 18px;
}

#inspect .properties .sockets .category {
  margin: 0 0 2rem;
}

#inspect .properties .sockets .category .sockets {
  display: flex;
  flex-flow: row wrap;
}

#inspect .properties .sockets .category .sockets .socket {
  position: relative;
  flex-basis: 64px;
  margin: 0 10px;
}

#inspect .properties .sockets .category .sockets .socket:first-child {
  margin-left: 0;
}

#inspect .properties .sockets .category .sockets .socket:last-child {
  margin-right: 0;
}

#inspect .properties .sockets .category .sockets .socket .plug {
  position: relative;
  height: 64px;
  margin: 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inspect .properties .sockets .category .sockets .socket .plug:last-child {
  margin: 0;
}




#inspect .properties .sockets .category.is-mods .sockets .socket .plug:not(:first-child) {
  display: none;
}




#inspect .properties .sockets .category .sockets .socket .plug .text {
  display: none;
}

#inspect .properties .sockets .category .sockets .socket .plug .icon {
  position: relative;
  width: 64px;
  height: 64px;
}

#inspect .properties .sockets .category.is-perks .sockets {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'><rect fill='white' fill-opacity='0.1' width='19' height='1' y='9'/><rect fill='white' fill-opacity='0.1' width='1' height='19' x='9'/></svg>");
}

#inspect .properties .sockets .category.is-perks .sockets .socket::before {
  content: ' ';
  position: absolute;
  right: -11px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic) {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.4);
  border-radius: 100%;
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic)::before {
  content: ' ';
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  border-radius: 100%;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0);
  transition: box-shadow 0.25s;
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic)::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.25s;
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic):hover::before {
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic):hover::after {
  background-color: rgba(255, 255, 255, 0.2);
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic).is-active {
  background-color: #518dba;
}

#inspect .properties .sockets .category.is-perks .sockets .socket .plug:not(.is-intrinsic) .icon {
  position: relative;
  width: 48px;
  height: 48px;
}