#loading {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

#loading h4,
#loading .status {
  flex-basis: 100%;
}

#loading h4 {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 1rem;
}

#loading .status {
  font-size: 14px;
}

#loading .status > .message {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2rem;
}

#loading .status:not(.error) > .message {
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

#loading .status.error > .message {
  opacity: 0.8;
  color: #F44336;
}

#loading .status .detail {
  max-width: 500px;
  margin: 1rem auto;
  padding: 0 2rem;
  text-align: left;
  display: flex;
  align-items: flex-start;
  opacity: 0.6;
}

#loading .status .detail .name {
  margin: 0 6px 0 0;
}

#loading .logo-feature {
  flex-basis: 100%;
  margin: 0 0 3rem;
  display: flex;
  justify-content: center;
}

#loading .logo-feature .device {
  position: relative;
  margin: 7rem 0 0;
  width: 196px;
  font-size: 196px;
  line-height: 170px;
}

#loading .logo-feature .device::before,
#loading .logo-feature .device::after {
  content: ' ';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 236px;
  height: 236px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.8);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 21s linear infinite;
}

#loading .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
  animation: fade-in-logo-feature 7s linear forwards, rotate-logo-feature 10s linear infinite;
}

@media screen and (max-width: 600px) {

  

#loading .logo-feature .device {
  width: 96px;
  font-size: 96px;
  line-height: 74px;
}

#loading .logo-feature .device::before,
#loading .logo-feature .device::after {
  width: 136px;
  height: 136px;
}

  #loading .status {
    padding: 0 0 3rem;
  }
}


#loading.dark-mode {
  color: rgba(255, 255, 255, 0.8);
  background-color: #0f0f0f;
}

#loading.dark-mode h4 {
  color: rgba(255, 255, 255, 0.6);
}

#loading.dark-mode .status,
#loading.dark-mode .status:not(.error) > .message {
  color: rgba(255, 255, 255, 0.4);
}

#loading.dark-mode .logo-feature .device::before,
#loading.dark-mode .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
}

#loading.dark-mode .logo-feature .device::after {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}