#resources {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#resources .tool .name {
  font-weight: 500;
}

#resources .tool .description {
  font-size: 14px;
  margin: 1rem 0 0;
}

@media screen and (max-width: 1500px) {
  #resources {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  #resources {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  #resources {
    padding: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
